In [1]:
#Quiz on 02/04/20

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('titanic.csv')

In [7]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [16]:
per_emb_c = len(df[df['Embarked'] == 'C'][df['Sex'] == 'female'])/len(df[df['Sex'] == 'female'])

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [17]:
per_emb_c

0.23248407643312102

In [23]:
num_em_c = len(df[df['Embarked'] == 'C']['Embarked'].dropna())

In [25]:
num_em_c/len(df)

0.18855218855218855

In [29]:
df[df['Embarked'] == 'C']['Embarked'].notnull()

AttributeError: 'Int64Index' object has no attribute 'remove_unused_levels'

1      True
9      True
19     True
26     True
30     True
       ...
866    True
874    True
875    True
879    True
889    True
Name: Embarked, Length: 168, dtype: bool