In [1]:
import pandas as pd
import numpy as np

In [2]:
data = np.array([1,2,3,4,5,6,7,7,3,4,2,5,6,7,3,4,5,6,2,3,4])

def compute_mean(dataset):
    return sum(dataset)/len(dataset)

compute_mean(data)

4.238095238095238

In [3]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
sur_male_pass = df[(df['Sex'] == 'male') & (df['Survived'] == 1)]

In [12]:
sur_male_pass = sur_male_pass.dropna(subset=['Age'])

In [13]:
sur_male_pass['Age'].mean()

27.276021505376345

In [14]:
compute_mean(list(sur_male_pass['Age']))

27.276021505376345

In [16]:
sur_male_pass['Age'].values

array([34.  , 28.  , 32.  ,  0.83, 29.  , 23.  , 12.  , 24.  , 27.  ,
        9.  ,  1.  , 45.  ,  3.  , 18.  , 26.  , 40.  , 16.  , 38.  ,
       19.  , 37.  ,  3.  , 25.  , 25.  , 19.  , 30.  , 42.  ,  0.92,
       45.  ,  2.  ,  3.  , 25.  , 36.  , 21.  , 39.  ,  3.  , 44.  ,
       32.  , 28.  ,  4.  , 34.  , 52.  , 49.  , 29.  , 48.  , 25.  ,
        9.  , 26.  , 29.  , 36.  , 32.  ,  8.  , 17.  , 22.  , 32.  ,
       62.  , 36.  , 32.  , 60.  , 49.  , 35.  , 27.  , 42.  , 20.  ,
       80.  , 32.  , 48.  , 56.  , 50.  , 20.  , 31.  , 36.  , 27.  ,
       31.  , 35.  , 42.  , 48.  , 27.  , 35.  , 31.  ,  6.  ,  0.67,
       20.  ,  1.  , 11.  ,  0.42, 27.  , 27.  ,  1.  ,  0.83, 32.  ,
       51.  ,  4.  , 26.  ])

In [30]:
data = np.array([1,3,4,5,5,5])

def compute_median(dataset):
    count = len(dataset)
    
    if count < 1:
        return None
    
    if count%2 == 1:
        return dataset[int(count//2)]
    else:
        return compute_mean([dataset[int(count/2)], dataset[int(count/2)-1]])
    
compute_median(data)

4.5

In [36]:
data = np.array([1,2,2,2,2,3,4,5])

def compute_mode(dataset):
    h = {}
    for item in dataset:
        if item in h:
            h[item] += 1
        else:
            h[item] = 0
    
    return (h, max(h, key=h.get))
    
#     max_value = 0
#     max_key = None
#     for key, value in h.items():
#         if value > max_value:
#             max_value = value
#             max_key = key
    
#     return max_key

compute_mode(data)

2