In [34]:
import pandas as pd

In [35]:
filepath = "titanic.csv"

In [36]:
df = pd.read_csv(filepath)

In [37]:
df[:5]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
total_passengers = len(df)

In [39]:
print("total passengers: {}".format(total_passengers))

total passengers: 891

In [43]:
surv_passengers = df[df['Survived'] == 1]
died_passengers = df[df['Survived'] == 0]

In [41]:
num_survived = len(surv_passengers)
per_survived = num_survived/total_passengers

In [45]:
print("Num died: {}".format(len(died_passengers)))
print("Num survived: {}".format(num_survived))
print("% survived: {}".format(per_survived))

Num died: 549
Num survived: 342
% survived: 0.3838383838383838

In [97]:
def get_average_age(df):
    age_sum = df['Age'].sum()
    num_passengers = len(df)
    return int(age_sum/num_passengers)

In [100]:
avg_age_surv_passengers = get_average_age(surv_passengers)
avg_age_died_passengers = get_average_age(died_passengers)

In [101]:
print("Average age of surviving passengers: {}".format(avg_age_surv_passengers))
print("Average age of died passengers: {}".format(avg_age_died_passengers))

Average age of surviving passengers: 24
Average age of died passengers: 23

In [46]:
import csv

In [88]:
total_passengers = -1
total_male_passengers = 0
total_female_passengers = 0
female_surv = 0
male_surv = 0
with open(filepath) as f:
    f_reader = csv.reader(f, delimiter=",")
    
    for row in f_reader:
        total_passengers += 1
        if row[4] == "male":
            total_male_passengers += 1
            if row[1] == '1':
                male_surv += 1
        if row[4] == "female":
            total_female_passengers += 1
            if row[1] == '1':
                female_surv += 1

In [102]:
print("total: {}".format(total_passengers))
print("female surv: {}".format(female_surv))
print("male surv: {}".format(male_surv))
print("female died: {}".format(total_female_passengers - female_surv))
print("male died: {}".format(total_male_passengers - male_surv))

print("\n% female surv: %{}".format(female_surv/total_female_passengers))
print("% male surv: %{}".format(male_surv/total_male_passengers))
print("% female died: %{}".format((total_female_passengers - female_surv)/total_female_passengers))
print("% male died: %{}".format((total_male_passengers - male_surv)/total_male_passengers))

total: 891
female surv: 233
male surv: 109
female died: 81
male died: 468

% female surv: %0.7420382165605095
% male surv: %0.18890814558058924
% female died: %0.25796178343949044
% male died: %0.8110918544194108